
@{
    ViewBag.Title = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Cursos</h2>
        <p class="text-warning">
            Diseñamos cursos en el area de negocios para satisfacer sus necesidades de capacitación. 
            A continuacion se encuentra nuestra oferta educativa. En caso de no encontrar el curso que desea, favor
            de enviar sus datos usando la pestaña de "Contacto". En reciprocidad, nuestro compromiso de comenzar con 
            el diseño a la brevedad posible.
        </p>
    <ul>
    <li>El ABC para invertir en bolsa:</li>
    <p>
        El objetivo de este curso es comprender el funcionamiento esencial del sistema financiero
        mexicano así como también los instrumentos financieros a los que pueden acceder personas
        y empresas. Se explicará paso a paso el mecanismo para abrir una cuenta de inversión en
        bolsa con el objetivo de comprar y vender instrumentos financieros. Se recomienda tener
        conocimientos sobre análisis financiero empresarial.
    </p>
    <li>Programación para no programadores:</li>
    <p>
        En este curso conocerá los elementos básicos para desarrollar la habilidad de programación
        estructurada. Se desarrollará la lógica computacional que está detrás de las tecnologías de
        información que permitirá potencializar el uso de herramientas tecnológicas. Se aplicará la
        lógica computacional en casos reales con un lenguaje de programación.
    </p>
    <li>Excel aplicado a la automatización de tareas con VBA:</li>
    <p>
        En este curso conocerá el lenguaje Visual Basic para Aplicaciones que permite ampliar la funcionalidad
        de Microsoft Excel. Se explican los conceptos esenciales de programación en VBA y se aplican en casos
        prácticos con enfoque empresarial y profesional.
    </p>
    <li>Finanzas Kids:</li>
    <p>
        En este curso conocerá por medio de actividades recreativas los elementos básicos de la responsabilidad
        y disciplina en finanzas personales para niños que contribuirá en generar un próspero porvenir financiero.
    </p>
    <li>Factoraje Financiero:</li>
    <p>
        En este curso usted aprenderá los conceptos para convertir las ventas a crédito en ventas de contado.
        Tenemos una alianza estratégica con Apoyo Cotidiano S.A de C.V. SOFOM empresa especializada en factoraje
        financiero donde una vez terminado el curso usted puede trabajar como bróker independiente y generar
        ingresos por este concepto.
    </p>
    <li>Flujo de Efectivo:</li>
    <p>
        En este curso conocerá como determinar los orígenes y aplicaciones del efectivo en las operaciones
        corrientes, las actividades de inversión y las actividades de financiamiento y por extensión el
        incremento o decremento del flujo de efectivo.
    </p>
    <li>Finanzas para no financieros:</li>
    <p>
        En este curso conocerá las herramientas básicas para el conocimiento de los estados financieros básicos
        de la Contabilidad y su uso en la toma de decisiones financieras.
    </p>
    <li>Análisis financiero:</li>
    <p>
        En este curso conocerá las razones financieras que le permiten incrementar el valor de la información
        contenida en los estados financieros básicos de la Contabilidad.
    </p>
    <li>Finanzas personales:</li>
    <p>
        En este curso conocerá el mecanismo para la disciplina financiera que se requiere para generar ahorro
        e inversión y utilizar fuentes de financiamientos que garanticen el patrimonio personal y familiar.
    </p>
    <li>Finanzas para dueños o socios de empresas:</li>
    <p>
        En este curso conocerá como incrementar el valor de su empresa con fundamento en indicadores y estrategia
        financiera de sus decisiones de inversión y financiamiento.
    </p>
    <li>Finanzas para emprendedores:</li>
    <p>
        En este curso conocerá los fundamentos para lograr el éxito financiero de su proyecto de negocios, con
        fundamento en la Contabilidad y Finanzas.
    </p>
</ul>


