
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>HITEF</h1>
    <p class="lead">Herramientas e Innovación Tecnológica para la Educación y Finanzas</p>
</div>
