@{
    ViewBag.Title = "QuienesSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quienes Somos?</h2>
<p>
    Somos una empresa especializada en soluciones de negocio y educación financiera que
    permita incrementar el valor de las empresas y la salud financiera de las personas.
    Contamos con profesionales con credenciales académicas, aplicación de la tecnología
    y experiencia profesional en el mundo de los negocios.
</p>

