@{
    ViewBag.Title = "ServiciosEmpresariales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicios Empresariales</h2>
<ul>
    <li>Consejeros independientes para empresas e instituciones financieras.</li>
    <li>Desarrollo de aplicaciones tecnológicas en la nube para mejora de procesos de negocio.</li>
    <li>Descarga de facturas electrónicas emitidas y recibidas del SAT.</li>
    <li>Conferencias con líderes empresariales.</li>
    <li>Diseño de cursos a la medida de acuerdo a las necesidades empresariales.</li>
</ul>

