@{
    ViewBag.Title = "Sitios de interes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sitios de Interes</h2>
<ul>
    <li><a href="https://piggo.mx/">Piggo (https://piggo.mx/)</a></li>
    <li><a href="http://www.cetesdirecto.com/">Cetes Directo (http://www.cetesdirecto.com/)</a></li>
    <li><a href="http://apoyocotidiano.com/">Apoyo Cotidiano (http://apoyocotidiano.com/)</a></li>
    <li><a href="https://www.puntocasadebolsa.mx/">Punto Casa de Bolsa (https://www.puntocasadebolsa.mx/)</a></li>
    <li><a href="http://www.investopedia.com/">Investopedia (http://www.investopedia.com/)</a></li>
    <li><a href="http://www.elfinanciero.com.mx/">El Financiero (http://www.elfinanciero.com.mx/)</a></li>
    <li><a href="http://www.revistapyme.com/">Revista Pyme (http://www.revistapyme.com/)</a></li>
</ul>

